<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @visit.user_id %>
</p>

<p>
  <b>Count:</b>
  <%= @visit.count %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
